<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>API Exercise | Recitation 8</title>
</head>

<body>
    <h1>To Do List</h1>
    <ul id="to-do-list">

    </ul>
    <form id="to-do-form">
        <input type="text" id="task" placeholder="Enter task" required>
        <button type="submit">Add</button>
    </form>

    
    <script src="{{ url_for('static', filename='08_script.js') }}"></script>
</body>

<div class="footer">
    API practice created for CS1520.
</div>


</html>